<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Skincare Inventory</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="shortcut icon" type="image/png" href="/images/leaf.png">
  </head>
  <body>

    {{{body}}}

  </body>
</html>
