<header>
  <nav>

    <ul class="nav-bar">
      <li>
        <a id="deal-alert" href="#deal-alert-fe">
          <span>
            <img src="/images/alert-bell.png" alt="Alert bell">
          </span>
          <span>Deal Alert</span>
        </a>
      </li>
    </ul>

  </nav>
  <section>

    <h1>Skincare Inventory</h1>
    <div class="cover">
      <img src="/images/cover-small-leaf.png" alt="Small leaf">
    </div>

  </section>
</header>

<main>

  <div class="slots">
    <div class="content-slot" id="add-slot">
      <img id="add-circle" src="/images/add-circle.png" alt="Add circle">
    </div>
    <div class="content-slot">
      <p>Getting started?</p>
      <p>
        Track your skincare products & don't miss out on deals!
      </p>
      <img src="/images/arrow-left.png" alt="Left arrow">
    </div>
  </div>

</main>

<footer>

  <div class="footer-logos">
    <div>
      <a href="https://github.com/sjunel/inventory-mgmt" target="_blank" rel="noopener noreferrer">
        <img src="/images/github.png" alt="GitHub logo" title="Repo on GitHub">
      </a>
    </div>
    <div>
      <a href="https://streamlinehq.com/" target="_blank" rel="noopener noreferrer">
        <img src="/images/streamline.png" alt="Streamline logo" title="Free icons from Streamline" >
      </a>
    </div>
  </div>

</footer>
